Design
######

Add here some documentation for your design.

.. mermaid:: figures/design.mmd


MyClass
=============

Add here some documentation for your class.

.. autoclass:: {{ package_name }}.main::MyClass
   :members:
   :undoc-members:
