# Help
#   Run python script with virtual environment
#   Usage: {{ package_name }} <script> [args]
#   Example: {{ package_name }} --help
.\.venv\Scripts\python.exe .\src\{{ package_name }}\_run.py $args
